<div class="container">


    <div class="card mb-3">
        <h3 class="card-header"><span>$</span> 570,000</h3>
        <div class="card-body">
            <h5 class="card-title">Green score: {{property.greenscore}}</h5>
            <h6 class="card-subtitle text-muted">{{property.address}}</h6>
        </div>
        <div class="card-body">
            <p class="card-text">{{property.description}}</p>
            <div class="row ">
                <div class="col-8">
                    <img src="assets/Beautiful_house_1.jpg" class="img-fluid" />
                    <p>This is a dream property that every one desires localted in one of the top most neighbourhoods in
                        the
                        country of netherlands. There is a huge demand for this property by rest assured that you are
                        our
                        top most priority and we aim to provide you the best of service</p>

                </div>
                <div class="col-4">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Energy
                            <span
                                class="badge bg-primary rounded-pill text-white">{{property.propertyvalues.energy}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            CO2
                            <span
                                class="badge bg-primary rounded-pill text-white">{{property.propertyvalues.co2}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Waste
                            <span
                                class="badge bg-primary rounded-pill text-white">{{property.propertyvalues.waste}}</span>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            cleanenergy
                            <span
                                class="badge bg-primary rounded-pill text-white">{{property.propertyvalues.cleanenergy}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Area
                            <span
                                class="badge bg-primary rounded-pill text-white">{{property.propertyvalues.area}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Type
                            <span
                                class="badge bg-primary rounded-pill text-white">{{property.propertyvalues.propertytype}}</span>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>